body {
  font-family: "chaparral pro";
  background: #fff;
}

a {
  color: #0079E7;
  border-bottom: solid 1px #ddd;
  text-decoration: none;
}
a:visited {
  color: #1D5B93;
}
a:hover {
  color: #57A5EC;
}

ul.plain, ol.plain {
  list-style-position: inside;
}

h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

h2 {
  font-weight: 100;
}

#recipe {
  background: url(../img/congruent_outline.png) #444;
  padding: 20px;
  color: #fff;
  margin: 20px;
  border-radius: 10px;
}

.recipe {
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
}

#overview {
  text-align: center;
  max-width: 100%;/*600px;*/
  margin: 0 auto;
  padding: 20px;
  background: #456990;
  color: #eee;

  display: flex;
  flex-direction: row;
  align-items: center;
}
#overview h1 {
  font-size: 3.7em;
  font-family: "soleil"; /*"Avenir Next Condensed";*/
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
  color: #fff;
  text-shadow: -.02em .02em 0 #000,.02em .02em 0 #000,0 .02em 0 #000;
  margin: 0;
}
#overview h1 span {
  display: inline-block;
}

#overview small {
  display: block;
  font-size: 1rem;
  line-height: 1.2rem;
  text-transform: none;
  text-shadow: none;
  font-weight: 200;
}

#overview a {
  color: #fff;
}

ul#focus-skills {
  list-style: none;
  padding: 0;
}
ul#focus-skills li {

  color: #fff;
  padding: 0px;
  display: inline-block;
  margin: 0 20px;
}
ul#focus-skills li .fa {
  font-size: 50%;
  position: relative;
  top: -2px;
}


#additional-skills {
  margin: 0;
  padding: 0;
  list-style: none;
}

#additional-skills li {
  display: inline-block;
  margin: 10px 15px;
  color:#ddd;
}

#main-content {
  padding: 20px;
}

.col-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#personal, #recipe {
  flex: 1;
}

.game {
  flex: 1;
}

footer {
  padding: 1em 0;
  border-top: dashed 1px #ddd;
  text-align: center;
  font-style: italic;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  #main-content {
    max-width: 800px;
    margin: 0 auto;
  }

  #overview {
    max-width: 100%;
    padding-bottom: 20px;
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .col-2 {
    flex-direction: column;
  }
}
